{% extends 'base.html' %}

{% block title %}Atlanta Search Map{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search-map.css') }}">
{% endblock %}

{% block content %}
  <div class="search-map-wrapper">
    <div class="search-map-bar">
      <img src="{{ url_for('static', filename='images/search-icon.svg') }}" class="search-icon" alt="Search Icon">
      <input type="text" class="search-map-input" placeholder="Search Atlanta">
      <img src="{{ url_for('static', filename='images/directions-icon.svg') }}" class="nav-icon" alt="Navigate Icon">
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/search-map.js') }}"></script>
{% endblock %}
