<footer class="site-footer">
    <div class="footer-content">
      <div class="footer-left">
        <h3>Atlanta Locals</h3>
        <p>Powered by Xpert Biz Intelligence</p>
      </div>
      <div class="footer-right">
        <ul class="footer-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Submit a Story</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="social-icons">
          <a href="#"><img src="{{ url_for('static', filename='images/instagram-icon.svg') }}" alt="Instagram"></a>
          <a href="#"><img src="{{ url_for('static', filename='images/facebook-icon.svg') }}" alt="Facebook"></a>
          <a href="#"><img src="{{ url_for('static', filename='images/twitter-icon.svg') }}" alt="Twitter"></a>
        </div>
      </div>
    </div>
  </footer>