{% extends 'base.html' %}

{% block title %}Atlanta Search Map{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<!-- Faint Background Image -->
<div class="faint-background">
  <img src="{{ url_for('static', filename='images/atlanta-background-new.png') }}" alt="Background" />
</div>

<!-- Branding Section -->
<section class="hero-branding">
  <div class="branding-logo">
    <img src="{{ url_for('static', filename='images/atlanta-locals-logo-new.png') }}" alt="Atlanta Locals Logo">
  </div>
  <h1 class="atl-brand-title">Atlanta Local Search</h1>
  <p class="subtitle">Atlanta’s Own Search Engine</p>
</section>


  <div class="about">
    <h2 class="subtitle">Atlanta Latest</h2>

    </div>



{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/news.js') }}"></script>
{% endblock %}
