<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}Atlanta Locals{% endblock %}</title>
  <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256‑…"
  crossorigin=""
>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block head %}{% endblock %}
</head>

<body>
   <!-- Navigation Section -->

  {% include 'partials/nav.html' %}

  <main>
    {% block content %}{% endblock %}
    <!-- Footer Section -->
    {% include 'partials/footer.html' %}
  </main>
  <script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256‑…"
  crossorigin=""
></script>

  <script>
    const newsData = {{ news | default([]) | tojson }};
    const weatherData = {{ weather | default({}) | tojson }};
    const STATIC_URL = "{{ url_for('static', filename='') }}";
  </script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
